#!/bin/bash

# Get the directory of the current script
SCRIPT_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"

# Define the deployment base directory relative to the script directory
PROJ_DIR="$(cd "$SCRIPT_DIR/../../build/ms-ecpay-logistics" && pwd)"

# Print the deployment base directory for debugging
echo "PROJ_DIR=$PROJ_DIR"

# Copy deployment scripts and configuration files
cp "$PROJ_DIR/deployment/deploy.sh" .
cp "$PROJ_DIR/deployment/docker-compose.yml" .
cp "$PROJ_DIR/deployment/version.env" .
cp "$PROJ_DIR/deployment/set-permission.sh" .
cp -n "$PROJ_DIR/.env.example" .env
